*{
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Sans', sans-serif;

}
nav{
    font-weight: bold;
   
    
}
.nav-item{
    color: white;
    padding: 2vh;
    margin: 1vh;
}
.nav-item:hover{
   backcolor: black;
}

header{
    height: 80vh;
    min-height: 400px;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    background-color: black;
    
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50vh;
    margin-left: 10vh;;
}

.main-text{
  text-shadow: rgba(0, 0, 0, 0.16) 0px 13px 16px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  float: left;
    color: white;
    font-size:8vh;
    font-weight: 800;
}
.img-brain{
    height:50vh;
    float: right;
    width: 39rem;
    display: flex;
justify-content:right;
margin-top: -30%;
margin-right:8vh ;

}


svg{
    
    position:absolute;
    bottom: 17vh;
}
.flex-cards{
    height:80vh;
    width:100%;
    margin-top:15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.flex-item{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    justify-content: center;
    height:60vh;
    margin:2vh;
    text-align: center;
    border-radius:2vh;
    width:43vh;
     transition: .5s;
}
.flex-item:hover{
    transform: translateY(-1.5rem);
    transition: .5s;
}
.heading{
    text-align: center;
    font-weight: bold;
    position: relative;
    top:4vh;
    
}
.flex-para{
    overflow-wrap:break-word;
    font-weight: 400;
    margin:1.5vh;
   padding-top:2vh;
}
.button{
    background-color: #FFFF; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    BORDER:2PX SOLID white;
border-radius: 10px;;
transition: .5s;
    position: relative;
    border-radius: 2px;
    top: 40vh;
    justify-content: center;
    text-align: center;
    padding: 1vh;
    width: 25vh;
    
}
.button:hover{
    background-color: transparent;
    color: black;
    transition: .5s;
}

